extends ../layout/main

block variables
  - var title = 'Modal window task'
  - var pageClass = 'index-page'

block content
  main
    // секция home
    section.section-home#Home
      .container
        .blockWithContentHome
          h2
            | Hello, IM 
            span White Alexa
          h1 Creative Designer
          p Freelancer Web/ Mobile UI/UX Designer with Motion Graphics
          .WrapperButtonsHome
            a(href='' rel='details') Hire Me
            a.bottonOrange(href='' rel='details') Get Resume
        .blockWithPhoto
          .happyYoungManPointingFingerAside.imgWrapper
    // / секция home