extends ../layout/main

block variables
  - var title = 'JavaScript Конструктор'
  - var pageClass = 'index-page'

block content
  #app.container-fluid
    #panel.bg-light.sidebar
    #site.content
      //- .row
      //-   .col-sm
      //-     h1 Hello World!
      
      //- .row
      //-   .col-sm
      //-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quia.
      
      //- .row
      //-   .col-sm Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      //-   .col-sm Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      //-   .col-sm Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      